<h6>Create Blog</h6>
<br>

<a href="/">Go Back</a><br><br>

<form action="/create_blog" method="post">
	<label>Title</label>
	<input type="text" name="title">
	<br><br>
	<label>Date</label>
	<input type="text" name="date">
	<br><br>
	<!-- { name: ""} -->
	<label>Content</label>
	<input type="text" name="content">
	<br>
	<br>
	<br>
	<input type="submit" value="Submit Your Post...">
</form>
