<h4>Create Blog</h4>
<br>

<a href="/">Go Back</a><br><br>

<form action="/create_blog" method="post" id="blog">
	<label>Title........</label>
	<input type="text" name="title">
	<br><br>
	<label>Date.......</label>
	<input type="text" name="date">
	<br><br>
	<!-- { name: ""} -->
	<label>Content..</label>
<textarea name="content" form="blog" rows="8" cols="60" placeholder="Describe your World Cup experience here..."></textarea>
	<br>
	<br>
	<br>
	<input type="submit" value="Submit Your Post...">
</form>
