<h6>List</h6>
<a href="/new">Create a new post...</a>
<ul>
	<% @blogs.each do |blog|%>
		<li>
			<strong><a href="/blog/<%= blog.id %>"><%= blog.title %></a></strong>
			<%= blog.date %>
			<%= blog.content %>

		</li>	
	<% end %>
</ul>